#start-section {
    padding: 30px 40px;
}

.page-title {
    color: var(--color-font-primary);
    font-size: 48px;
}

.page-subtitle {
    color: var(--color-font-secondary);
    font-size: 24px;
    margin-bottom: 27px;
}